<app-navbar></app-navbar>

<h1 class="text-xl font-weight-bold">Tools</h1>

<div class="search d-flex justify-content-center col-md-6 col-md-offset-3">
  <input type="text" [(ngModel)]="term" class="searchTerm form-control" placeholder="Search..." aria-label="Search">
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Source</th>
      <th scope="col">Date</th>
      <!--<th scope="col"></th>-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of Tools | filter:term">
      <th scope="row">{{t.id}}</th>
      <td>{{t.source}}</td>
      <td>{{reformDate(t.date)}}</td>
      <td><button *ngIf="isAdmin" type="button" class="btn btn-danger" (click)="deleteTool(t.id)">Delete</button></td>
    </tr>
</table>